{% extends "base.html" %}
{% block content %}
<h1>Контакты</h1>

<p class="mt-3">Меня зовут Константин. Опыт работы в химчистке — 7 лет, в дезинсекции — 4 года.</p>

<ul class="list-group mt-4 mb-4">
  <li class="list-group-item"><strong>📍 Город:</strong> Москва</li>
  <li class="list-group-item"><strong>📞 Телефон:</strong> <a href="tel:+79686149946">+7 968 614-99-46</a></li>
  <li class="list-group-item"><strong>📱 WhatsApp:</strong> <a href="https://wa.me/qr/4HDE6MIQIIDVM1" target="_blank">написать</a></li>
  <li class="list-group-item"><strong>✉️ Telegram:</strong> <a href="https://t.me/White_Buddha" target="_blank">@White_Buddha</a></li>
  <li class="list-group-item"><strong>📢 Telegram-канал:</strong> <a href="https://t.me/chistkanadomu" target="_blank">До/после кейсы</a></li>
  <li class="list-group-item"><strong>🕒 Ответы на звонки и сообщения:</strong> с 8:00 до 22:00</li>
  <li class="list-group-item"><strong>⏰ Работа на выезде:</strong> круглосуточно, по согласованию</li>
</ul>

<a href="/form" class="btn btn-success">Оставить заявку</a>
{% endblock %}
